{% extends "::base.html.twig" %}
{% trans_default_domain 'ShopBundle' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block body %}
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('index_main') }}">{{ 'layout.navbar.sitename'|trans }}</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('index_main') }}">{{ 'layout.navbar.home'|trans }}</a></li>
                    <li><a href="{{ path('news') }}">{{ 'layout.navbar.news'|trans }}</a></li>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li><a href="{{ path('favourites') }}">{{ 'layout.navbar.favourites'|trans }}</a></li>
                    {% endif %}
                    {{ render(controller('ShopBundle:LayoutsUtility:staticPagesMenu')) }}

                    <li>
                        <a href="{{ path('showcart') }}">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                            {{ render(controller('ShopBundle:Cart:navbarCart')) }}
                        </a>
                    </li>
                    {% include '@Shop/Partials/navbarAuthBlock.html.twig' %}
                </ul>

                <form action="{{ path('search') }}" class="navbar-form" role="search" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="{{ 'search.search'|trans }}"
                               id="search_phrase" name="search_phrase">
						<span class="input-group-btn">
							<button type="reset" class="btn btn-default">
								<span class="glyphicon glyphicon-remove">
									<span class="sr-only">Close</span>
								</span>
                            </button>
							<button type="submit" class="btn btn-default">
								<span class="glyphicon glyphicon-search">
									<span class="sr-only">Search</span>
								</span>
                            </button>
						</span>
                    </div>
                </form>

            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                {{ render(controller('ShopBundle:LayoutsUtility:categoriesMenu')) }}
            </div>
            <div class="col-md-8">
                {% block page_content %}
                {% endblock page_content %}
                <div class="row" id="latest-products"></div>
            </div>
            <div class="col-md-2">
                {{ render(controller('ShopBundle:LayoutsUtility:manufacturersMenu')) }}
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">{{ 'layout.navbar.sitename'|trans }}, 2015.</p>
        </div>
    </footer>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/js.cookie.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap-confirmation.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/cart.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/scripts.js') }}" type="text/javascript"></script>
    <script>
        //set path urls
        var urls = [];
        urls['ajax_like'] = '{{ path('ajax_like') }}';
        urls['ajax_is_liked_product'] = '{{ path('ajax_is_liked_product') }}';
        urls['ajax_get_last_seen_products'] = '{{ path('ajax_get_last_seen_products') }}';
        //set translated messages
        var messages = [];
        messages['mustberegistered'] = '{{ 'layout.messages.mustberegistered'|trans }}';
        messages['productnotfound'] = '{{ 'layout.messages.productnotfound'|trans }}';

        //menu items highlight
        function highlightMenu() {
            //get requestUri
            var requestUri = '{{ app.request.requestUri }}';

            //highlight current route
            $('.menu-link').each(function () {
                if ($(this).attr('href') == requestUri) {
                    $(this).addClass('active');
                }
            });
        }
    </script>
{% endblock %}
