{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/shop/css/style.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block body %}

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('index_main') }}">EShop</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {#<li class="active"><a href="#">Home</a></li>#}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('index_main') }}">Home</a></li>
                    <li><a href="{{ path('news') }}">News</a></li>
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Discounts</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                {{ render(controller('ShopBundle:Catalog:categoriesMenu')) }}
            </div>
            <div class="col-md-8">
                {% block page_content %}
                {% endblock page_content %}
            </div>
            <div class="col-md-2">
                {{ render(controller('ShopBundle:Catalog:manufacturersMenu')) }}
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">eShop project.</p>
        </div>
    </footer>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}