{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/shop/css/style.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block body %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('index_main') }}">ContractorFinder</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {#{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}#}
                        {#<li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>#}
                    {#{% else %}#}
                        {#<li><a href="{{ path('fos_user_security_login') }}">Login</a></li>#}
                        {#<li><a href="{{ path('user_normal_registration') }}">Register</a></li>#}
                    {#{% endif %}#}
                        {#<li><a href="{{ path('user_company_registration') }}">Register company</a></li>#}
                    {% if is_granted('ROLE_ADMIN') %}
                        <ul class="nav navbar-nav pull-right">
                            <li><a href="{{ path('admin_index') }}">Administration panel</a></li>
                        </ul>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block page_content %}
    {% endblock page_content %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}