{% extends '@Admin/adminLayout.html.twig' %}

{% block page_content -%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                {% include "@Admin/Admin/admin-menu.html.twig" %}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h3>Orders list</h3>
                {% if entities|length %}
                    <table class="records_list table table-bordered table-stripped">
                        <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(entities, 'Client name', 'a.name') }}</th>
                            <th>{{ knp_pagination_sortable(entities, 'Order date', 'a.date') }}</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin_order_show', { 'id': entity.id }) }}">{{ entity.name }}</a>
                                    </td>
                                    <td>
                                        {{ entity.date|date('Y-m-d H:i') }}
                                    </td>
                                    <td>
                                        <a href="{{ path('admin_order_show', { 'id': entity.id }) }}">show</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <strong>No orders yet</strong>
                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        {{ knp_pagination_render(entities) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
