{% extends '@Admin/adminLayout.html.twig' %}

{% block page_content -%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                {% include "@Admin/Admin/admin-menu.html.twig" %}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-5 col-md-offset-2 main">
                <h3>Order</h3>

                <table class="record_properties table table-bordered table-stripped">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Client Name</th>
                        <td>{{ entity.name }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ entity.email }}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{ entity.phone }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ entity.address }}</td>
                    </tr>
                    <tr>
                        <th>Comment</th>
                        <td>
                            {% if entity.comment|length %}
                                {{ entity.comment }}
                            {% else %}
                                <p class="text-muted">No comment</p>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>

                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ path('admin_orders') }}">
                            Back to the list
                        </a>
                    </li>
                    <li class="list-group-item">
                        {{ form(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock page_content %}