{% extends '@Shop/layout.html.twig' %}

{% block title %}
    {{ category.name }}
{% endblock title %}

{% block page_content -%}
    <div id="products" class="row list-group">
    {% if goods|length %}
        {% for good in goods %}
            <div class="item  col-xs-4 col-md-3 col-lg-3">
                <div class="thumbnail">
                    {% if category.path %}
                        <img class="group list-group-image"
                             src="{{ asset( ('uploads/images/' ~ good.path) | imagine_filter('category_mainpage_thumb')) }}"
                             alt="{{ good.name }}" />
                    {% else %}
                        <img class="group list-group-image"
                             src="{{ asset( ('uploads/images/no_image_available.png') | imagine_filter('category_mainpage_thumb')) }}"
                             alt="{{ good.name }}" />
                    {% endif %}
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            {{ good.name }}
                        </h4>
                        <p class="group inner list-group-item-text">
                            {{ good.description|slice(0, 190) }}
                        </p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    {{ good.price }}ั.ะต.
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3>Sorry, no goods in this category yet!</h3>
    {% endif %}
    </div>
{% endblock page_content %}