{% extends '@Shop/layout.html.twig' %}

{% block page_content -%}
    {% for category in categories %}
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                {% if category.path %}
                    <img src="{{ asset( ('uploads/images/' ~ category.path) | imagine_filter('category_mainpage_thumb')) }}" alt="{{ category.name }}" />
                {% else %}
                    <img src="{{ asset( ('uploads/images/no_image_available.png') | imagine_filter('category_mainpage_thumb')) }}" alt="{{ category.name }}" />
                {% endif %}
                <div class="caption">
                    <a href="#">
                        <h3>{{ category.name }}</h3>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock page_content %}