{% extends '@Shop/layout.html.twig' %}

{% block title %}
    {{ manufacturer.name }}
{% endblock title %}

{% block page_content -%}
    <div class="well well-sm">
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                        class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
        <strong>{{ manufacturer.name }}</strong>
    </div>
    <div id="products" class="row list-group">
    {% if products|length %}
        {% for product in products %}
            <div class="item col-xs-4 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <a href="{{ path('show_product', {'id' : product.id}) }}">
                        {% if product.images|length %}
                            <img class="group list-group-image"
                                 src="{{ asset( ('uploads/gallery/' ~ product.images.first().path) | imagine_filter('category_mainpage_thumb')) }}"
                                 alt="{{ product.name }}" />
                        {% else %}
                            <img class="group list-group-image"
                                 src="{{ asset( ('uploads/gallery/no_image_available.png') | imagine_filter('category_mainpage_thumb')) }}"
                                 alt="{{ product.name }}" />
                        {% endif %}
                    </a>
                    <div class="caption">
                        <a href="#">
                            <h4 class="group inner list-group-item-heading">
                                {{ product.name }}
                            </h4>
                        </a>
                        <p class="group inner list-group-item-text">
                            {{ product.description|slice(0, 190) }}
                        </p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead price">
                                    <span>{{ product.price }}</span> ั.ะต.
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3>Sorry, no products in this manufacturer yet!</h3>
    {% endif %}
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            {{ knp_pagination_render(products) }}
        </div>
    </div>
{% endblock page_content %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/shop/js/cart.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('#list').click(function (event) {
                event.preventDefault();
                $('#products .item').addClass('list-group-item');
            });
            $('#grid').click(function (event) {
                event.preventDefault();
                $('#products .item').removeClass('list-group-item');
                $('#products .item').addClass('grid-group-item');
            });
        });
    </script>
{% endblock javascripts %}