{% extends '@Admin/adminLayout.html.twig' %}

{% block page_content -%}
    <h3>{{ 'Measure list'|trans }}</h3>
    <li>
        <a href="{{ path('admin_measure_new') }}">
            {{ 'Create a new measure'|trans }}
        </a>
    </li>
    <table class="records_list table table-striped">
        <thead>
        <tr>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'Actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <a href="{{ path('admin_measure_show', { 'id': entity.id }) }}">{{ entity.name }}</a>
                </td>
                <td>
                    <a href="{{ path('admin_measure_show', { 'id': entity.id }) }}">{{ 'show'|trans }}</a>&nbsp;&nbsp;
                    <a href="{{ path('admin_measure_edit', { 'id': entity.id }) }}">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock page_content %}
