<ul class="nav nav-sidebar">
    <li><a href="{{ path('admin_product') }}">Products</a></li>
    <li><a href="{{ path('admin_category') }}">Categories</a></li>
    <li><a href="{{ path('admin_manufacturer') }}">Manufacturers</a></li>
    <li><a href="{{ path('admin_news') }}">News</a></li>
    <li><a href="{{ path('admin_orders') }}">Orders</a></li>
    <li><a href="{{ path('admin_measure') }}">Measures</a></li>
    <li><a href="{{ path('admin_measure') }}">Slides</a></li>
</ul>