{% extends '@Admin/adminLayout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/fancybox/jquery.fancybox.css') }}" media="all" rel="stylesheet"
          type="text/css"/>
{% endblock stylesheets %}

{% block title %}
    {{ 'Slide list'|trans }} - {{ 'Administration panel'|trans }}
{% endblock title %}

{% block page_content -%}
    <h3>{{ 'Slide list'|trans }}</h3>
    <p>
        <a href="{{ path('admin_slide_new') }}">
            <span class="glyphicon glyphicon-plus"></span>
            {{ 'Create a new slide'|trans }}
        </a>
    </p>
    <table class="records_list table table-striped">
        <thead>
        <tr>
            <th class="col-md-3">{{ 'Name'|trans }}</th>
            <th class="col-md-3">{{ 'Image'|trans }}</th>
            <th class="col-md-2">{{ 'Slide order'|trans }}</th>
            <th class="col-md-2">{{ 'Enabled'|trans }}</th>
            <th class="col-md-2">{{ 'Actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <a href="{{ path('admin_slide_show', { 'id': entity.id }) }}">{{ entity.name }}</a>
                </td>
                <td>
                    {% if entity.path %}
                        <a class="fancybox" rel="group" href="{{ asset(('uploads/images/' ~ entity.path)) }}">
                            <img src="{{ asset( ('uploads/images/' ~ entity.path) | imagine_filter('some_thumb')) }}"/>
                        </a>
                    {% else %}
                        {{ 'no photo'|trans }}
                    {% endif %}
                </td>
                <td>
                    {{ entity.slideOrder }}
                </td>
                <td>
                    {% if entity.enabled %}
                        {{ 'yes'|trans }}
                    {% else %}
                        {{ 'no'|trans }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('admin_slide_show', { 'id': entity.id }) }}">{{ 'show'|trans }}</a><br>
                    <a href="{{ path('admin_slide_edit', { 'id': entity.id }) }}">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock page_content %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/fancybox/jquery.mousewheel-3.0.6.pack.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('assets/fancybox/jquery.fancybox.pack.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox();
        });
    </script>
{% endblock javascripts %}
