{% extends "@Shop/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
    {{ 'change_password.submit'|trans }}
{% endblock title %}

{% block page_content %}
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <h2>{{ 'change_password.submit'|trans }}</h2>
            </div>
        </div>

        {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary">{{ 'change_password.submit'|trans }}</button>
            </div>
        </div>

    {{ form_end(form) }}
{% endblock page_content %}
