{% trans_default_domain 'ShopBundle' %}
<div class="item  col-sm-4 col-md-4 col-lg-3">
    <div class="thumbnail">
        <a href="{{ path('category', {'slug' : category.slug}) }}">
            {% if category.path %}
                <img class="group list-group-image"
                     src="{{ asset( ('uploads/images/' ~ category.path) | imagine_filter('category_mainpage_thumb')) }}"
                     alt="{{ category.name }}"/>
            {% else %}
                <img class="group list-group-image"
                     src="{{ asset( ('uploads/images/no_image_available.png') | imagine_filter('category_mainpage_thumb')) }}"
                     alt="{{ category.name }}"/>
            {% endif %}
        </a>

        <div class="caption">
            <h4 class="group inner list-group-item-heading main-categpory-title">
                <a href="{{ path('category', {'slug' : category.slug}) }}">{{ category.name }}</a>
            </h4>
        </div>
    </div>
</div>
