{% trans_default_domain 'ShopBundle' %}
<div class="item col-md-4 col-lg-3">
    <div class="thumbnail">
        <a href="{{ path('show_product', {'slug' : product.slug}) }}">
            {% if product.images|length %}
                <img class="group list-group-image"
                     src="{{ asset( ('uploads/gallery/' ~ product.images.first().path) | imagine_filter('category_mainpage_thumb')) }}"
                     alt="{{ product.name }}"/>
            {% else %}
                <img class="group list-group-image"
                     src="{{ asset( ('uploads/gallery/no_image_available.png') | imagine_filter('category_mainpage_thumb')) }}"
                     alt="{{ product.name }}"/>
            {% endif %}

        </a>
        <div class="caption description-container id-row" data-id="{{ product.id }}">
            {% if product.favourites|length %}
                <a href="#"><span class="glyphicon glyphicon-heart like" aria-hidden="true"></span></a>
            {% else %}
                <a href="#"><span class="glyphicon glyphicon-heart-empty like" aria-hidden="true"></span></a>
            {% endif %}
            <a href="{{ path('show_product', {'slug' : product.slug}) }}">
                <h4 class="group inner list-group-item-heading product-title">
                    {{ product.name }} ({{ product.measureQuantity }} {{ product.measure.name }})
                </h4>
            </a>
            <p class="lead price">
                <span>{{ product.price }}</span> {{ 'currency'|trans }}
            </p>
            <a class="btn btn-success addtocart-btn" href="#">{{ 'cart.addtocart'|trans }}</a>
        </div>
    </div>
</div>
