{% extends '@Admin/adminLayout.html.twig' %}

{% block page_content -%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                {% include "@Admin/Admin/admin-menu.html.twig" %}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h3>Manufacturers list</h3>
                <li>
                    <a href="{{ path('admin_manufacturer_new') }}">
                        Create a new entry
                    </a>
                </li>
                <table class="records_list table table-bordered table-stripped">
                    <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(entities, 'Name', 'a.name') }}</th>
                        <th>Description</th>
                        <th>{{ knp_pagination_sortable(entities, 'Photo', 'a.path') }}</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_manufacturer_show', { 'id': entity.id }) }}">{{ entity.name }}</a>
                            </td>
                            <td>
                                {{ entity.description }}
                            </td>
                            <td>
                                {% if entity.path %}
                                    <img src="{{ asset( ('uploads/images/' ~ entity.path) | imagine_filter('some_thumb')) }}"/>
                                {% else %}
                                    no photo
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('admin_manufacturer_show', { 'id': entity.id }) }}">show</a>&nbsp;&nbsp;
                                <a href="{{ path('admin_manufacturer_edit', { 'id': entity.id }) }}">edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock page_content %}

