{% extends '@Shop/layout.html.twig' %}

{% block page_content -%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                {% include "AdminBundle:Admin:admin-menu.html.twig" %}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h3>Goods list</h3>
                <table class="records_list table table-bordered table-stripped">
                    <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(entities, 'Name', 'a.name') }}</th>
                        <th>Description</th>
                        <th>{{ knp_pagination_sortable(entities, 'Price', 'a.price') }}</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('admin_good_show', { 'id': entity.id }) }}">{{ entity.name }}}</a></td>
                            <td>{{ entity.description }}</td>
                            <td>{{ entity.price }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('admin_good_show', { 'id': entity.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_good_edit', { 'id': entity.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-4">
                {{ knp_pagination_render(entities) }}
            </div>
        </div>
    </div>
{% endblock page_content %}