{% extends '@Admin/adminLayout.html.twig' %}

{% block page_content -%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                {% include "AdminBundle:Admin:admin-menu.html.twig" %}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h3>{{ 'Products list'|trans }}</h3>
                <li><a href="{{ path('admin_product_new') }}">{{ 'Create new Product'|trans }}</a></li>
                <table class="records_list table table-bordered table-stripped">
                    <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(entities, 'Name'|trans, 'a.name') }}</th>
                        <th>{{ 'Category'|trans }}</th>
                        <th>{{ 'Manufacturer'|trans }}</th>
                        <th>{{ knp_pagination_sortable(entities, 'Price'|trans, 'a.price') }}</th>
                        <th>{{ 'Photo'|trans }}</th>
                        <th>{{ 'Q-ty'|trans }}</th>
                        <th>{{ 'Actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('admin_product_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                            <td>
                                <a href="{{ path('admin_category_show', {'id': entity.category.id}) }}">
                                    {{ entity.category }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('admin_manufacturer_show', {'id': entity.manufacturer.id}) }}">
                                    {{ entity.manufacturer }}
                                </a>
                            </td>
                            <td>{{ entity.price }}</td>
                            <td>
                                {% if entity.images|length %}
                                    {% for image in entity.images|slice(0, 3) %}
                                        <img src="{{ asset( ('uploads/gallery/' ~ image.path) | imagine_filter('some_thumb')) }}"/>
                                    {% endfor %} ...
                                {% else %}
                                    {{ 'no photos'|trans }}
                                {% endif %}
                            </td>
                            <td>{{ entity.quantity}}</td>
                            <td>
                                <a href="{{ path('admin_product_show', { 'id': entity.id }) }}">{{ 'show'|trans }}</a>&nbsp;&nbsp;
                                <a href="{{ path('admin_product_edit', { 'id': entity.id }) }}">{{ 'edit'|trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-12">
                        {{ knp_pagination_render(entities) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-4">
                {{ knp_pagination_render(entities) }}
            </div>
        </div>
    </div>
{% endblock page_content %}