{% extends '@Admin/adminLayout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/summernote.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block page_content -%}
    <h3>{{ 'News creation'|trans }}</h3>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.title, 'Title'|trans) }}
        <div class="col-sm-10">
            {{ form_widget(form.title, {'attr': {'class': 'product-name'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.text, 'Text'|trans) }}
        <div class="col-sm-10">
            {{ form_widget(form.text, {'attr': {'class': 'summernote'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.metaKeys, 'Meta keys'|trans) }}
        <div class="col-sm-10">
            {{ form_widget(form.metaKeys) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.metaDescription, 'Meta description'|trans) }}
        <div class="col-sm-10">
            {{ form_widget(form.metaDescription) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <a href="#" class="btn btn-default generate-slug">{{ 'generate slug'|trans }}</a>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.slug, 'Slug'|trans) }}
        <div class="col-sm-10">
            {{ form_errors(form.slug) }}
            {{ form_widget(form.slug, {'attr': {'class': 'product-slug'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input type="submit" value="{{ 'Create'|trans }}" class="btn btn-success" />
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}

    <a href="{{ path('admin_news') }}">
        {{ 'Back to the list'|trans }}
    </a>
{% endblock page_content -%}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/speakingurl.min.js') }}"></script>
    <script src="{{ asset('assets/js/summernote.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.generate-slug').on('click', function (e) {
                e.preventDefault();
                //get field value
                var productName = $('.product-name').val();
                var slugInut = $('.product-slug');
                var nameToSlug = productName;

                //generate slug
                var slug = getSlug(nameToSlug, {
                    custom: {
                        '%': ' percent '
                    },
                    uric: true
                });
                //record to slug input
                slugInut.val(slug);
            });
        });
        {% include '@Admin/Partials/initSummernote.js.twig' with {'height': 300} %}
    </script>
{% endblock javascripts %}
