{% extends '@Admin/adminLayout.html.twig' %}

{% block page_content -%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                {% include "@Admin/Admin/admin-menu.html.twig" %}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-5 col-md-offset-2 main">
                <h3>{{ 'News'|trans }}</h3>
                <table class="record_properties table table-bordered table-stripped">
                    <tbody>
                    <tr>
                        <th>{{ 'Title'|trans }}</th>
                        <td>{{ entity.title }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Slug'|trans }}</th>
                        <td>{{ entity.slug }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Text'|trans }}</th>
                        <td>{{ entity.text }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Meta keys'|trans }}</th>
                        <td>{{ entity.metaKeys }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Meta desription'|trans }}</th>
                        <td>{{ entity.metaDescription }}</td>
                    </tr>
                    </tbody>
                </table>

                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ path('admin_news') }}">
                            {{ 'Back to the list'|trans }}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('admin_news_edit', { 'id': entity.id }) }}">
                            {{ 'Edit'|trans }}
                        </a>
                    </li>
                    <li class="list-group-item">
                        {{ form(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock page_content %}
