{% extends '@Shop/layout.html.twig' %}
{% trans_default_domain 'ShopBundle' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}{{ 'orderform.orderform'|trans }}{% endblock title %}

{% block page_content -%}
    <h2 class="text-center">{{ 'orderform.orderform'|trans }}</h2>
    <hr>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="form-group">
                {{ form_label(form.name, 'orderform.name'|trans) }}
                <div class="col-sm-10">
                    {{ form_widget(form.name) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.email, 'orderform.email'|trans) }}
                <div class="col-sm-10">
                    {{ form_widget(form.email) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.phone, 'orderform.phone'|trans) }}
                <div class="col-sm-10">
                    {{ form_widget(form.phone) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.address, 'orderform.address'|trans) }}
                <div class="col-sm-10">
                    {{ form_widget(form.address) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.comment, 'orderform.yourcomment'|trans) }}
                <div class="col-sm-10">
                    {{ form_widget(form.comment) }}
                </div>
            </div>
            {{ form_rest(form) }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 text-right">
                    <button type="submit" class="btn btn-success">{{ 'orderform.submit'|trans }}</button>
                </div>
            </div>
            <div class="form-group">
                <div class="well col-sm-offset-2 col-sm-10 text-right">
                    {{ 'orderform.totalsumis'|trans }} <span id="totalsum"></span>{{ 'currency'|trans }}
                </div>
            </div>
            {{ form_start(form) }}
        </div>
    </div>
{% endblock page_content %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            //total sum from navbar cart
            var totalSum = $('#cart-sum').html();
            $('#totalsum').html(totalSum);
        });
    </script>
{% endblock javascripts %}
