{% extends '@Shop/layout.html.twig' %}

{% block title %}
    Cart
{% endblock title %}

{% block page_content -%}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {% if products|length %}
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr class="info">
                            <th>№</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                        {% for product in products %}
                        <tr>
                            <td align="center">{{ loop.index }}</td>
                            <td>{{ product.product.name }}</td>
                            <td align="center">{{ product.quantity }}</td>
                            <td align="center">{{ product.price }}</td>
                            <td align="center">{{ product.sum }}</td>
                        </tr>
                        {% endfor %}
                        <tr class="warning">
                            <td colspan="3"><b>Total sum of the order</b></td>
                            <td colspan="2"><b>{{ totalsum }}</b></td>
                        </tr>
                    </tbody>
                </table>
            {% else %}
                Cart is empty
            {% endif %}
        </div>
    </div>
{% endblock page_content %}