{% extends '@Admin/adminLayout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block page_content -%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                {% include "@Admin/Admin/admin-menu.html.twig" %}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-5 col-md-offset-2 main">
                <h3>{{ 'Static page edit'|trans }}</h3>

                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success" role="alert">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}

                    <div class="form-group">
                        {{ form_label(edit_form.title, 'Title'|trans) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.title, {'attr': {'class': 'product-name'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <a href="#" class="btn btn-default generate-slug">{{ 'generate slug'|trans }}</a>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.slug, 'Slug'|trans) }}
                        <div class="col-sm-10">
                            {{ form_errors(edit_form.slug) }}
                            {{ form_widget(edit_form.slug, {'attr': {'class': 'product-slug'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.enabled, 'Enabled'|trans) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.enabled) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.orderNum, 'Order num'|trans) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.orderNum) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.content, 'Content'|trans) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.content) }}
                        </div>
                    </div>

                    {{ form_rest(edit_form) }}

                {{ form_end(edit_form) }}

                <div class="col-md-5 col-md-offset-2 ">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{{ path('admin_staticpage') }}">
                                {{ 'Back to the list'|trans }}
                            </a>
                        </li>
                        <li class="list-group-item">
                            {{ form(delete_form) }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/shop/js/speakingurl.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.generate-slug').on('click', function(e) {
                e.preventDefault();
                //get field value
                var productName = $('.product-name').val();
                var slugInut = $('.product-slug');
                var nameToSlug = productName;

                //generate slug
                var slug = getSlug(nameToSlug, {
                    custom: {
                        '%': ' percent '
                    },
                    uric:true
                });
                //record to slug input
                slugInut.val(slug);
            });
        });
    </script>
{% endblock javascripts %}