{% extends '@Admin/adminLayout.html.twig' %}

{% block page_content -%}
    <h3>{{'Static pages'|trans }}</h3>
    <li>
        <a href="{{ path('admin_staticpage_new') }}">
            {{ 'Create a new page'|trans }}
        </a>
    </li>
    <table class="records_list table table-striped">
        <thead>
        <tr>
            <th>{{ 'Title'|trans }}</th>
            <th>{{ 'Page order'|trans }}</th>
            <th>{{ 'Enabled'|trans }}</th>
            <th>{{ 'Actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <a href="{{ path('admin_staticpage_show', { 'id': entity.id }) }}">{{ entity.title }}</a>
                </td>
                <td>
                    {{ entity.orderNum }}
                </td>
                <td>
                    {% if entity.enabled %}
                        {{ 'yes'|trans }}
                    {% else %}
                        {{ 'no'|trans }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('admin_staticpage_show', { 'id': entity.id }) }}">{{ 'show'|trans }}</a><br>
                    <a href="{{ path('admin_staticpage_edit', { 'id': entity.id }) }}">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock page_content %}
