<ul class="nav nav-sidebar">
    <li {% if app.request.get('_route') == 'admin_orders' %} class="active" {% endif %}>
        <a href="{{ path('admin_orders') }}">{{ 'Orders'|trans }}</a>
    </li>
    <li {% if app.request.get('_route') == 'admin_user_list' %} class="active" {% endif %}>
        <a href="{{ path('admin_user_list') }}">{{ 'User list'|trans }}</a>
    </li>
</ul>

<ul class="nav nav-sidebar">
    <li {% if app.request.get('_route') == 'admin_product' %} class="active" {% endif %}>
        <a href="{{ path('admin_product') }}">{{ 'Products'|trans }}</a>
    </li>
    <li {% if app.request.get('_route') == 'admin_category' %} class="active" {% endif %}>
        <a href="{{ path('admin_category') }}">{{ 'Categories'|trans }}</a>
    </li>
    <li {% if app.request.get('_route') == 'admin_manufacturer' %} class="active" {% endif %}>
        <a href="{{ path('admin_manufacturer') }}">{{ 'Manufacturers'|trans }}</a>
    </li>
    <li {% if app.request.get('_route') == 'admin_measure' %} class="active" {% endif %}>
        <a href="{{ path('admin_measure') }}">{{ 'Measures'|trans }}</a>
    </li>
</ul>

<ul class="nav nav-sidebar">
    <li {% if app.request.get('_route') == 'admin_news' %} class="active" {% endif %}>
        <a href="{{ path('admin_news') }}">{{ 'News'|trans }}</a>
    </li>
    <li {% if app.request.get('_route') == 'admin_slide' %} class="active" {% endif %}>
        <a href="{{ path('admin_slide') }}">{{ 'Slides'|trans }}</a>
    <li {% if app.request.get('_route') == 'admin_staticpage' %} class="active" {% endif %}>
        <a href="{{ path('admin_staticpage') }}">{{ 'Static pages'|trans }}</a>
    </li>
    <li {% if app.request.get('_route') == 'admin_featured' %} class="active" {% endif %}>
        <a href="{{ path('admin_featured') }}">{{ 'Featured products'|trans }}</a>
    </li>
    <li {% if app.request.get('_route') == 'admin_settings' %} class="active" {% endif %}>
        <a href="{{ path('admin_settings') }}">{{ 'Site settings'|trans }}</a>
    </li>
</ul>
